<div id = "main">
<div>
    <h1>MyHighlight</h1>
    <h5>Only watch the highlights YOU care about</h5>
</div>
    <nav>
    <p>Game Highlights</p>
    <h6> (select a button below to search for a list of highlights)</h6>
        <ul>
            <li><button id = "mlb" type = "button" class = "search_games" value = "mlb"> MLB Today's Recaps</button></li>
            <li><button id = "nba" type = "button" class = "search_games" value = "nba">NBA Game Recaps</button></li>
            <li><button class = "search_games">More Sports Coming Soon</button></li>
        </ul>   
    </nav>
</div>
<div id = "ajax_message"></div>
<div id = "both">
    <%# <div id = "titles"> %>
        <h2 id = "games_to_watch">Games to Watch</h2>
    <%# </div> %>
    <div id = "right_column">
   
    </div>
    <div id = "playlist">
        <h2>Playlist</h2>
    </div>
    <div id = 'left_column'>
        
    </div>
        <form action = "/guests" method = "post">
    <!--put ability to save playlists here?? -->
        </form>
</div>
