http://www.espn.com/nba/scoreboard/_/date/20180424

Embedded link http://www.espn.com/nba/scoreboard/_/date/20180424


<section id="block-notificationsblock" class="block-notificationsblock"></section>
<section id="block-analyticsmetasblock" class="block-analyticsmetasblock"><script async="async" data-client-id="MciousnsysXuwtD" type="text/javascript" src="//d2lv4zbk7v5f93.cloudfront.net/esf.js"></script></section>
<section class="off-canvas-wrap" data-offcanvas><div class="inner-wrap">
<aside class="left-off-canvas-menu"></aside><aside class="right-off-canvas-menu"></aside><div class="headerWrapper">
<header class="nba-nav-header"><section class="nba-nav-wrapper"><nav role="navigation" aria-labelledby="block-mainnavigation-menu" id="block-mainnavigation" class="block-mainnavigation"><h2 class="block-title visually-hidden" id="block-mainnavigation-menu">Main navigation</h2>
<nav class="nba-nav nba-primary-nav"><div class="nba-nav__container nba-nav__container--left">
<button class="nba-nav__container--button"></button><a title="Home" class="nba-nav__container--logo" href="/"></a>
</div>
<div class="nba-nav__container nba-nav__container--center"><ul class="nba-nav__container--center-menu" data-dropdown-menu>
<li class="nba-nav__container--center-menu-item"><a href="/scores" data-drupal-link-system-path="scores">Scores</a></li>
<li class="nba-nav__container--center-menu-item"><a href="http://stats.nba.com/schedule">Schedule</a></li>
<li class="nba-nav__container--center-menu-item"><a href="/news" data-drupal-link-system-path="node/131240">News</a></li>
<li class="nba-nav__container--center-menu-item"><a href="/video" data-drupal-link-system-path="node/131241">Video</a></li>
<li class="nba-nav__container--center-menu-item"><a href="/standings" data-drupal-link-system-path="standings">Standings</a></li>
<li class="nba-nav__container--center-menu-item"><a href="http://stats.nba.com/">Stats</a></li>
<li class="nba-nav__container--center-menu-item"><a href="/players" data-drupal-link-system-path="players">Players</a></li>
<li class="nba-nav__container--center-menu-item"><a href="/teams" data-drupal-link-system-path="teams">Teams</a></li>
<li class="nba-nav__container--center-menu-item"><a href="/playoffs" data-drupal-link-system-path="node/204441">Playoffs</a></li>
</ul></div>
<div class="nba-nav__container nba-nav__container--right">
<ul class="nba-nav__container--right-add-to-secondary">
<li class="nba-nav__container--right-item nba-nav__store-item" aria-expanded="false">
<button class="nba-nav__store">Shop</button><ul class="nba-nav__submenu">
<li><a href="http://global.nba.com/store-link-handler/" class="nba-nav__store-store-link">Store</a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_jerseys">Jerseys</a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_mens">Men</a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_womens">Women</a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_kids">Kids </a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_customshop">Custom Shop</a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_classics">Hardwood Classics</a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_headwear">Hats </a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_footwear">Footwear </a></li>
<li><a href="http://auctions.nba.com/?utm_source=NBA.com%20Web&amp;utm_medium=Site%20Link&amp;utm_campaign=NBA.com%20Web%20Clicks">Auctions </a></li>
<li><a href="http://nbagameworn.com/?utm_source=NBA.com%20Web&amp;utm_medium=Website%20link&amp;utm_campaign=NBA.com%20Web%20Link">NBA Game Worn</a></li>
<li><a href="http://nbanyc.fanatics.com/">NYC Store</a></li>
<li><a href="https://photostore.nba.com/">NBA Photo Store</a></li>
</ul>
</li>
<li class="nba-nav__container--right-item"><a class="nba-nav__tickets" href="//nbatickets.nba.com">Tickets</a></li>
<li class="nba-nav__container--right-item nba-nav__lp-item "><a class="nba-nav__lp" href="/leaguepass">NBA League Pass</a></li>
</ul>
<ul class="nba-nav__container--right-fixed"><li class="nba-nav__account-item nba-nav__container--right-item" aria-expanded="false">
<button class="nba-nav__account"></button><ul class="nba-nav__submenu"><li><scoreboard-score-toggle></scoreboard-score-toggle></li></ul>
</li></ul>
</div></nav></nav><nav role="navigation" aria-labelledby="block-mainaccordionmenu-menu" id="block-mainaccordionmenu" class="block-mainaccordionmenu"><h2 class="block-title visually-hidden" id="block-mainaccordionmenu-menu">Main Accordion Menu</h2>
<aside class="nba-secondary-nav__wrapper"><nav class="nba-secondary-nav__container"><section class="nba-secondary-nav__ss--left-slide"><ul class="nba-secondary-nav__list--top"></ul>
<span class="nba-secondary-nav__list--item-more hide-for-medium">More</span></section><section class="nba-secondary-nav__search-link"><ul><li><a href="/search" title="Search Site" class="nba-nav__search"></a></li></ul></section><section class="nba-secondary-nav__ss--right-slide"><ul class="nba-secondary-nav__list--middle" role="menu">
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item-back hide-for-medium"><span>Back</span></li>
<li class="hide-for-medium"><a href="/search" title="Search Site" class="nba-nav__search"></a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/leaguepass" data-drupal-link-system-path="node/181724">BUY NBA LEAGUE PASS</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/vr" data-drupal-link-system-path="node/196581">NBA VR</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://www.nba.com/nbatv">NBA TV</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://stats.nba.com/schedule/#!/?rfr=nba">Full Schedule</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/key-dates" data-drupal-link-system-path="node/146806">Key Dates</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="https://www.nba.com/playoffs/bracketchallenge/">Play Bracket Challenge</a></li>
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item--dropdown">
<a href="http://www.nba.com">NBA Events</a><ul class="menu">
<li><a href="http://www.nba.com/playoffs/">2018 NBA Playoffs</a></li>
<li><a href="/draft" data-drupal-link-system-path="node/193691">2018 NBA Draft</a></li>
<li><a href="/NBAawards" data-drupal-link-system-path="node/202753">2018 NBA Awards</a></li>
<li><a href="/summerleague" data-drupal-link-system-path="node/196142">2018 Summer League</a></li>
<li><a href="/allstar" data-drupal-link-system-path="node/184767">2018 All-Star Game</a></li>
</ul>
</li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/fantasy" data-drupal-link-system-path="node/131453">Fantasy</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://www.nba.com/history">NBA History</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/inplay" data-drupal-link-system-path="node/157074">NBA InPlay</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://wnba.com/">WNBA</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://www.nba.com/dleague/?ls=iref:nba:gfooter">NBA G League</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://cares.nba.com/">NBA Cares</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://jr.nba.com/">Jr. NBA</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="https://nbaacademy.nba.com/">NBA Academy</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://pr.nba.com/">NBA Communications</a></li>
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item--dropdown">
<a href="http://official.nba.com/">NBA Official</a><ul class="menu">
<li><a href="/news/officiating" data-drupal-link-system-path="node/146807">Officiating News</a></li>
<li><a href="http://official.nba.com/referee-assignments/">Daily Ref Assignments</a></li>
<li><a href="http://official.nba.com/replay/">Replay Center</a></li>
<li><a href="http://videorulebook.nba.com/">Video Rulebook</a></li>
</ul>
</li>
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item--dropdown">
<a href="" data-drupal-link-system-path="&lt;front&gt;">NBA Initiatives</a><ul class="menu">
<li><a href="https://thisiswhyweplay.nba.com/" title="This Is Why We Play">This Is Why We Play</a></li>
<li><a href="http://voices.nba.com/">NBA Voices</a></li>
<li><a href="http://green.nba.com/">NBA Green</a></li>
<li><a href="http://fit.nba.com/">NBA Fit</a></li>
<li><a href="http://hoopsfortroops.nba.com/">Hoops For Troops</a></li>
<li><a href="http://www.nba.com/enebea/index.html">Ene-be-a</a></li>
</ul>
</li>
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item--dropdown">
<a href="" data-drupal-link-system-path="&lt;front&gt;">NBA Info</a><ul class="menu">
<li><a href="/news/about" data-drupal-link-system-path="node/146803">About The NBA</a></li>
<li><a href="/news/faq" data-drupal-link-system-path="node/146804">NBA FAQs</a></li>
<li><a href="http://stats.nba.com/transactions/">Transactions</a></li>
<li><a href="http://careers.nba.com/">Careers</a></li>
<li><a href="http://contact.nba.com/">Contact Us</a></li>
<li><a href="http://www.nba.com/history">NBA History</a></li>
<li><a href="/news/nba-register-and-nba-guide" data-drupal-link-system-path="node/146805">NBA Guide &amp; Register</a></li>
<li><a href="http://auctions.nba.com/?utm_source=NBA.com%20Responsive&amp;utm_medium=Site%20Link&amp;utm_campaign=NBA.com%20Mobile%20Clicks">Auctions</a></li>
<li><a href="https://photostore.nba.com/">NBA Photostore</a></li>
<li><a href="http://nbanyc.fanatics.com/">NYC Store</a></li>
<li><a href="https://globalstores.nba.com/">Global Stores</a></li>
</ul>
</li>
</ul></section></nav></aside></nav></section></header><section id="block-globalheaderadblock" class="block-globalheaderadblock"><div class="nba-ad-container light-gray global-nav">
<div class="nba-ad-wrap-has-singleton-left">
<div id="ad_bnr_atf_01" class="nba-ad dfp"></div>
<div class="nba-ad freewheel desktop-only"><span id="desktop_nav" class="_fwph" style="font-size:0px;"><form id="_fw_form_desktop_nav" style="display:none;"><input type="hidden" name="_fw_input_desktop_nav" id="_fw_input_desktop_nav" value="slau=728x90_sync&amp;w=728&amp;h=90&amp;envp=g_js&amp;sflg=-nrpl;"></form>
<span id="_fw_container_desktop_nav_companion" class="_fwac"></span><span id="_fw_container_desktop_nav" class="_fwac"></span></span></div>
<div class="nba-ad freewheel mobile-only"><span id="mobile_nav" class="_fwph" style="font-size:0px;"><form id="_fw_form_mobile_nav" style="display:none;"><input type="hidden" name="_fw_input_mobile_nav" id="_fw_input_mobile_nav" value="slau=320x50_spon&amp;w=320&amp;h=50&amp;envp=g_js&amp;sflg=-nrpl;"></form>
<span id="_fw_container_mobile_nav_companion" class="_fwac"></span><span id="_fw_container_mobile_nav" class="_fwac"></span></span></div>
</div>
<div class="global-banner-ad-200-90"><div id="ad_mod_92f78ded2" class="nba-ad"></div></div>
</div></section>
</div>
<div class="row"></div>
<section id="main" class="row expanded " role="main"><div id="content" role="region" class="nba-collection-detail">
<button class="content__back nba-toggle-sidebar" title="Back To Sidebar">❮ Back</button><div><section id="block-league-content" class="block-league-content"><article id="node-146896" role="article" about="/video/gamerecaps"><div class="view-mode-full">
<script>
  var coreVideoPlayerConfig = {
    videoId: '/video/2018/04/23/0041700174-okc-uta-game-4-recap',
    adSectionDesktop: 'nba.com_site_round1',
    adSectionMobile: 'nba.com_mobile_web_round1',
    relatedTagId: '24401500-85b3-4920-8304-f0822840bbbd',
    relatedTitle: 'Playoffs\x202018\x20West\x20First\x20Round\x3A\x20Thunder\x20\x284\x29\x20vs.\x20Jazz\x20\x285\x29',
    videoTitle: 'GAME\x204\x20RECAP\x3A\x20Jazz\x20113,\x20Thunder\x2096',
    videoDescription: 'Donovan\x20Mitchell\x20puts\x20up\x2033\x20points\x20and\x20grabs\x20seven\x20rebounds\x20as\x20the\x20Jazz\x20defeat\x20the\x20Thunder\x20113\x2D96\x20in\x20a\x20Game\x204\x20victory.',
    trt: 177
  };
      var adfuelCategory = 'playoffs_rd1';
  </script><div class="nba__article-detail--ad-banner-container">
<div class="nba__article-detail--ad-banner-mobile"></div>
<div class="nba__article-detail--ad-banner"></div>
<div class="nba__article-detail--ad-banner-bg-mobile"></div>
<div class="nba__article-detail--ad-banner-bg"></div>
</div>
<video-detail></video-detail>
</div></article></section></div>
<div><section id="block-homepagefooter" class="block-homepagefooter"><hr>
<p>Copyright © <em class="placeholder">2018</em> NBA Media Ventures, LLC. All rights reserved.</p>
<p><a href="http://www.nba.com/news/privacy_policy.html">Privacy Policy</a> | <a href="http://www.nba.com/closed_captioning">Accessibility and Closed Caption</a> | <a href="http://www.nba.com/news/termsofuse">Terms of Use</a> | <a id="nba_cnsnt_trst" class="nbaAdChoices"></a></p>
<p>NBA.com is part of Turner Sports Digital, part of the Turner Sports &amp; Entertainment Digital Network.</p>
<img alt="Turner Broadcasting System, Inc. A Time Warner Company." data-align="center" data-entity-type="file" src="//i.cdn.turner.com/nba/nba/footer/turner_logo_200x35.png"></section></div>
</div>
<aside id="main_sidebar" role="region"><div><section id="block-collectionlistblock" class="block-collectionlistblock"><div class="article__detail--sidebar">
<nav class="sectiontabs"><ul>
<li><p><a href="/video" data-drupal-link-system-path="node/131241">Top Video</a></p></li>
<li>
<p>Categories</p>
<div class="overlay"><div><ul>
<li><a href="/video/all-videos" data-drupal-link-system-path="node/146941">All Videos</a></li>
<li><a href="/video/2018-playoffs" data-drupal-link-system-path="node/204474">2018 Playoffs</a></li>
<li><a href="/video/gamerecaps" title="Game Recaps" data-drupal-link-system-path="node/146896" class="is-active">Game Recaps</a></li>
<li><a href="/video/mustseehighlights" data-drupal-link-system-path="node/146895">Must See Highlights</a></li>
<li>
<a href="/video/features" data-drupal-link-system-path="node/131253">Features</a><ul>
<li><a href="/video/3-point-revolution" data-drupal-link-system-path="node/189176">3-Point Revolution</a></li>
<li><a href="/video/in-his-own-words" data-drupal-link-system-path="node/202917">In His Own Words</a></li>
<li><a href="/video/3-point-performers" data-drupal-link-system-path="node/188331">JBL 3-Point Perfomers</a></li>
<li><a href="/video/201718-kia-performance-awards" data-drupal-link-system-path="node/188333">Kia Performance Awards</a></li>
<li><a href="/gamechangers" data-drupal-link-system-path="node/197815">NBA Game Changers</a></li>
<li><a href="/video/uninterrupted-flashback" data-drupal-link-system-path="node/156831">Uninterrupted</a></li>
<li><a href="/video/what-if" data-drupal-link-system-path="node/198876">What If...</a></li>
<li><a href="/video/season-longprotection" data-drupal-link-system-path="node/206989">Season-Long Protection</a></li>
</ul>
</li>
<li>
<a href="/video/top-plays" data-drupal-link-system-path="node/147052">Top Plays</a><ul>
<li><a href="/video/exxon-blocks" data-drupal-link-system-path="node/172096">Exxon Blocks: All Videos</a></li>
<li><a href="/video/plays-of-the-week" data-drupal-link-system-path="node/131251">Plays of the Week</a></li>
<li><a href="/video/state-farm-assists" data-drupal-link-system-path="node/186113">State Farm Assists: All Videos</a></li>
<li><a href="/video/buzzerbeaters" title="Tissot Buzzer Beaters" data-drupal-link-system-path="node/148181">Tissot Buzzer Beaters</a></li>
<li><a href="/video/top10" data-drupal-link-system-path="node/131242">Top 10 Plays</a></li>
<li><a href="/video/verizon-dunks" data-drupal-link-system-path="node/190181">Verizon Dunks: All Videos</a></li>
<li><a href="/video/handles" data-drupal-link-system-path="node/156074">Kumho Handles of the Month</a></li>
</ul>
</li>
<li><a href="/video/nightly-notable" data-drupal-link-system-path="node/131250">Nightly Notable</a></li>
<li><a href="/video/the-fast-break" data-drupal-link-system-path="node/131243">The Fast Break</a></li>
<li>
<a href="/video/nba-on-tnt" data-drupal-link-system-path="node/147051">NBA on TNT</a><ul>
<li><a href="/video/area21" title="Area 21" data-drupal-link-system-path="node/150263">Area 21</a></li>
<li><a href="/video/ej-neato-stat-of-the-night" data-drupal-link-system-path="node/146933">E.J.'s Neato Stat of the Night</a></li>
<li><a href="/video/inside-the-nba" title="Inside the NBA" data-drupal-link-system-path="node/146789">Inside the NBA</a></li>
<li><a href="/video/players-only" data-drupal-link-system-path="node/167568">Players Only</a></li>
<li><a href="/video/shaqtin-a-fool" title="Shaqtin a Fool" data-drupal-link-system-path="node/146790">Shaqtin' a Fool</a></li>
</ul>
</li>
<li><a href="/video/classicgames?collection=video" data-drupal-link-query='{"collection":"video"}' data-drupal-link-system-path="video/classicgames">Classic Games</a></li>
<li>
<a href="" data-drupal-link-system-path="&lt;front&gt;">Events</a><ul>
<li><a href="/allstar/2018/video" data-drupal-link-system-path="node/192037">2018 All-Star</a></li>
<li><a href="/video/draft2017" data-drupal-link-system-path="node/178799">2017 Draft</a></li>
<li><a href="/video/2017-hall-of-fame" data-drupal-link-system-path="node/181670">2017 Hall of Fame</a></li>
<li><a href="/video/2017-nba-awards" data-drupal-link-system-path="node/174112">2017 NBA Awards</a></li>
<li><a href="/video/playoffs/2017/finals" data-drupal-link-system-path="node/175497">2017 NBA Finals</a></li>
</ul>
</li>
</ul></div></div>
</li>
<li>
<p><a href="/video/nba-tv" data-drupal-link-system-path="node/131264">NBA TV</a></p>
<div class="overlay"><div><ul>
<li><a href="/video/beyond-the-paint" data-drupal-link-system-path="node/131261">Beyond the Paint</a></li>
<li><a href="/video/gametime" data-drupal-link-system-path="node/131255">Game Time</a></li>
<li><a href="/video/high-tops" data-drupal-link-system-path="node/194590">High Tops - Plays of the Month</a></li>
<li><a href="/video/inside-stuff" data-drupal-link-system-path="node/131257">Inside Stuff</a></li>
<li><a href="/video/open-court" data-drupal-link-system-path="node/131258">Open Court</a></li>
<li><a href="/video/the-starters" data-drupal-link-system-path="node/131256">The Starters</a></li>
</ul></div></div>
</li>
</ul>
<div id="sectiontabs-cover" class="reveal-overlay"></div></nav><collection-list></collection-list>
</div></section></div></aside></section>
</div></section>
<section class="nba-nav-wrapper"><nav role="navigation" aria-labelledby="block-mainnavigation-menu" id="block-mainnavigation" class="block-mainnavigation"><h2 class="block-title visually-hidden" id="block-mainnavigation-menu">Main navigation</h2>
<nav class="nba-nav nba-primary-nav"><div class="nba-nav__container nba-nav__container--left">
<button class="nba-nav__container--button"></button><a title="Home" class="nba-nav__container--logo" href="/"></a>
</div>
<div class="nba-nav__container nba-nav__container--center"><ul class="nba-nav__container--center-menu" data-dropdown-menu>
<li class="nba-nav__container--center-menu-item"><a href="/scores" data-drupal-link-system-path="scores">Scores</a></li>
<li class="nba-nav__container--center-menu-item"><a href="http://stats.nba.com/schedule">Schedule</a></li>
<li class="nba-nav__container--center-menu-item"><a href="/news" data-drupal-link-system-path="node/131240">News</a></li>
<li class="nba-nav__container--center-menu-item"><a href="/video" data-drupal-link-system-path="node/131241">Video</a></li>
<li class="nba-nav__container--center-menu-item"><a href="/standings" data-drupal-link-system-path="standings">Standings</a></li>
<li class="nba-nav__container--center-menu-item"><a href="http://stats.nba.com/">Stats</a></li>
<li class="nba-nav__container--center-menu-item"><a href="/players" data-drupal-link-system-path="players">Players</a></li>
<li class="nba-nav__container--center-menu-item"><a href="/teams" data-drupal-link-system-path="teams">Teams</a></li>
<li class="nba-nav__container--center-menu-item"><a href="/playoffs" data-drupal-link-system-path="node/204441">Playoffs</a></li>
</ul></div>
<div class="nba-nav__container nba-nav__container--right">
<ul class="nba-nav__container--right-add-to-secondary">
<li class="nba-nav__container--right-item nba-nav__store-item" aria-expanded="false">
<button class="nba-nav__store">Shop</button><ul class="nba-nav__submenu">
<li><a href="http://global.nba.com/store-link-handler/" class="nba-nav__store-store-link">Store</a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_jerseys">Jerseys</a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_mens">Men</a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_womens">Women</a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_kids">Kids </a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_customshop">Custom Shop</a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_classics">Hardwood Classics</a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_headwear">Hats </a></li>
<li><a href="http://global.nba.com/store-link-handler/?cat=nba_footwear">Footwear </a></li>
<li><a href="http://auctions.nba.com/?utm_source=NBA.com%20Web&amp;utm_medium=Site%20Link&amp;utm_campaign=NBA.com%20Web%20Clicks">Auctions </a></li>
<li><a href="http://nbagameworn.com/?utm_source=NBA.com%20Web&amp;utm_medium=Website%20link&amp;utm_campaign=NBA.com%20Web%20Link">NBA Game Worn</a></li>
<li><a href="http://nbanyc.fanatics.com/">NYC Store</a></li>
<li><a href="https://photostore.nba.com/">NBA Photo Store</a></li>
</ul>
</li>
<li class="nba-nav__container--right-item"><a class="nba-nav__tickets" href="//nbatickets.nba.com">Tickets</a></li>
<li class="nba-nav__container--right-item nba-nav__lp-item "><a class="nba-nav__lp" href="/leaguepass">NBA League Pass</a></li>
</ul>
<ul class="nba-nav__container--right-fixed"><li class="nba-nav__account-item nba-nav__container--right-item" aria-expanded="false">
<button class="nba-nav__account"></button><ul class="nba-nav__submenu"><li><scoreboard-score-toggle></scoreboard-score-toggle></li></ul>
</li></ul>
</div></nav></nav><nav role="navigation" aria-labelledby="block-mainaccordionmenu-menu" id="block-mainaccordionmenu" class="block-mainaccordionmenu"><h2 class="block-title visually-hidden" id="block-mainaccordionmenu-menu">Main Accordion Menu</h2>
<aside class="nba-secondary-nav__wrapper"><nav class="nba-secondary-nav__container"><section class="nba-secondary-nav__ss--left-slide"><ul class="nba-secondary-nav__list--top"></ul>
<span class="nba-secondary-nav__list--item-more hide-for-medium">More</span></section><section class="nba-secondary-nav__search-link"><ul><li><a href="/search" title="Search Site" class="nba-nav__search"></a></li></ul></section><section class="nba-secondary-nav__ss--right-slide"><ul class="nba-secondary-nav__list--middle" role="menu">
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item-back hide-for-medium"><span>Back</span></li>
<li class="hide-for-medium"><a href="/search" title="Search Site" class="nba-nav__search"></a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/leaguepass" data-drupal-link-system-path="node/181724">BUY NBA LEAGUE PASS</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/vr" data-drupal-link-system-path="node/196581">NBA VR</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://www.nba.com/nbatv">NBA TV</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://stats.nba.com/schedule/#!/?rfr=nba">Full Schedule</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/key-dates" data-drupal-link-system-path="node/146806">Key Dates</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="https://www.nba.com/playoffs/bracketchallenge/">Play Bracket Challenge</a></li>
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item--dropdown">
<a href="http://www.nba.com">NBA Events</a><ul class="menu">
<li><a href="http://www.nba.com/playoffs/">2018 NBA Playoffs</a></li>
<li><a href="/draft" data-drupal-link-system-path="node/193691">2018 NBA Draft</a></li>
<li><a href="/NBAawards" data-drupal-link-system-path="node/202753">2018 NBA Awards</a></li>
<li><a href="/summerleague" data-drupal-link-system-path="node/196142">2018 Summer League</a></li>
<li><a href="/allstar" data-drupal-link-system-path="node/184767">2018 All-Star Game</a></li>
</ul>
</li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/fantasy" data-drupal-link-system-path="node/131453">Fantasy</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://www.nba.com/history">NBA History</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/inplay" data-drupal-link-system-path="node/157074">NBA InPlay</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://wnba.com/">WNBA</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://www.nba.com/dleague/?ls=iref:nba:gfooter">NBA G League</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://cares.nba.com/">NBA Cares</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://jr.nba.com/">Jr. NBA</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="https://nbaacademy.nba.com/">NBA Academy</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://pr.nba.com/">NBA Communications</a></li>
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item--dropdown">
<a href="http://official.nba.com/">NBA Official</a><ul class="menu">
<li><a href="/news/officiating" data-drupal-link-system-path="node/146807">Officiating News</a></li>
<li><a href="http://official.nba.com/referee-assignments/">Daily Ref Assignments</a></li>
<li><a href="http://official.nba.com/replay/">Replay Center</a></li>
<li><a href="http://videorulebook.nba.com/">Video Rulebook</a></li>
</ul>
</li>
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item--dropdown">
<a href="" data-drupal-link-system-path="&lt;front&gt;">NBA Initiatives</a><ul class="menu">
<li><a href="https://thisiswhyweplay.nba.com/" title="This Is Why We Play">This Is Why We Play</a></li>
<li><a href="http://voices.nba.com/">NBA Voices</a></li>
<li><a href="http://green.nba.com/">NBA Green</a></li>
<li><a href="http://fit.nba.com/">NBA Fit</a></li>
<li><a href="http://hoopsfortroops.nba.com/">Hoops For Troops</a></li>
<li><a href="http://www.nba.com/enebea/index.html">Ene-be-a</a></li>
</ul>
</li>
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item--dropdown">
<a href="" data-drupal-link-system-path="&lt;front&gt;">NBA Info</a><ul class="menu">
<li><a href="/news/about" data-drupal-link-system-path="node/146803">About The NBA</a></li>
<li><a href="/news/faq" data-drupal-link-system-path="node/146804">NBA FAQs</a></li>
<li><a href="http://stats.nba.com/transactions/">Transactions</a></li>
<li><a href="http://careers.nba.com/">Careers</a></li>
<li><a href="http://contact.nba.com/">Contact Us</a></li>
<li><a href="http://www.nba.com/history">NBA History</a></li>
<li><a href="/news/nba-register-and-nba-guide" data-drupal-link-system-path="node/146805">NBA Guide &amp; Register</a></li>
<li><a href="http://auctions.nba.com/?utm_source=NBA.com%20Responsive&amp;utm_medium=Site%20Link&amp;utm_campaign=NBA.com%20Mobile%20Clicks">Auctions</a></li>
<li><a href="https://photostore.nba.com/">NBA Photostore</a></li>
<li><a href="http://nbanyc.fanatics.com/">NYC Store</a></li>
<li><a href="https://globalstores.nba.com/">Global Stores</a></li>
</ul>
</li>
</ul></section></nav></aside></nav></section>
<section class="nba-secondary-nav__ss--left-slide"><ul class="nba-secondary-nav__list--top"></ul>
<span class="nba-secondary-nav__list--item-more hide-for-medium">More</span></section>
<section class="nba-secondary-nav__search-link"><ul><li><a href="/search" title="Search Site" class="nba-nav__search"></a></li></ul></section>
<section class="nba-secondary-nav__ss--right-slide"><ul class="nba-secondary-nav__list--middle" role="menu">
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item-back hide-for-medium"><span>Back</span></li>
<li class="hide-for-medium"><a href="/search" title="Search Site" class="nba-nav__search"></a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/leaguepass" data-drupal-link-system-path="node/181724">BUY NBA LEAGUE PASS</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/vr" data-drupal-link-system-path="node/196581">NBA VR</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://www.nba.com/nbatv">NBA TV</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://stats.nba.com/schedule/#!/?rfr=nba">Full Schedule</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/key-dates" data-drupal-link-system-path="node/146806">Key Dates</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="https://www.nba.com/playoffs/bracketchallenge/">Play Bracket Challenge</a></li>
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item--dropdown">
<a href="http://www.nba.com">NBA Events</a><ul class="menu">
<li><a href="http://www.nba.com/playoffs/">2018 NBA Playoffs</a></li>
<li><a href="/draft" data-drupal-link-system-path="node/193691">2018 NBA Draft</a></li>
<li><a href="/NBAawards" data-drupal-link-system-path="node/202753">2018 NBA Awards</a></li>
<li><a href="/summerleague" data-drupal-link-system-path="node/196142">2018 Summer League</a></li>
<li><a href="/allstar" data-drupal-link-system-path="node/184767">2018 All-Star Game</a></li>
</ul>
</li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/fantasy" data-drupal-link-system-path="node/131453">Fantasy</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://www.nba.com/history">NBA History</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="/inplay" data-drupal-link-system-path="node/157074">NBA InPlay</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://wnba.com/">WNBA</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://www.nba.com/dleague/?ls=iref:nba:gfooter">NBA G League</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://cares.nba.com/">NBA Cares</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://jr.nba.com/">Jr. NBA</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="https://nbaacademy.nba.com/">NBA Academy</a></li>
<li class="nba-secondary-nav__list--separator nba-secondary-nav__list--item"><a href="http://pr.nba.com/">NBA Communications</a></li>
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item--dropdown">
<a href="http://official.nba.com/">NBA Official</a><ul class="menu">
<li><a href="/news/officiating" data-drupal-link-system-path="node/146807">Officiating News</a></li>
<li><a href="http://official.nba.com/referee-assignments/">Daily Ref Assignments</a></li>
<li><a href="http://official.nba.com/replay/">Replay Center</a></li>
<li><a href="http://videorulebook.nba.com/">Video Rulebook</a></li>
</ul>
</li>
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item--dropdown">
<a href="" data-drupal-link-system-path="&lt;front&gt;">NBA Initiatives</a><ul class="menu">
<li><a href="https://thisiswhyweplay.nba.com/" title="This Is Why We Play">This Is Why We Play</a></li>
<li><a href="http://voices.nba.com/">NBA Voices</a></li>
<li><a href="http://green.nba.com/">NBA Green</a></li>
<li><a href="http://fit.nba.com/">NBA Fit</a></li>
<li><a href="http://hoopsfortroops.nba.com/">Hoops For Troops</a></li>
<li><a href="http://www.nba.com/enebea/index.html">Ene-be-a</a></li>
</ul>
</li>
<li class="nba-secondary-nav__list--item nba-secondary-nav__list--item--dropdown">
<a href="" data-drupal-link-system-path="&lt;front&gt;">NBA Info</a><ul class="menu">
<li><a href="/news/about" data-drupal-link-system-path="node/146803">About The NBA</a></li>
<li><a href="/news/faq" data-drupal-link-system-path="node/146804">NBA FAQs</a></li>
<li><a href="http://stats.nba.com/transactions/">Transactions</a></li>
<li><a href="http://careers.nba.com/">Careers</a></li>
<li><a href="http://contact.nba.com/">Contact Us</a></li>
<li><a href="http://www.nba.com/history">NBA History</a></li>
<li><a href="/news/nba-register-and-nba-guide" data-drupal-link-system-path="node/146805">NBA Guide &amp; Register</a></li>
<li><a href="http://auctions.nba.com/?utm_source=NBA.com%20Responsive&amp;utm_medium=Site%20Link&amp;utm_campaign=NBA.com%20Mobile%20Clicks">Auctions</a></li>
<li><a href="https://photostore.nba.com/">NBA Photostore</a></li>
<li><a href="http://nbanyc.fanatics.com/">NYC Store</a></li>
<li><a href="https://globalstores.nba.com/">Global Stores</a></li>
</ul>
</li>
</ul></section>
<section id="block-globalheaderadblock" class="block-globalheaderadblock"><div class="nba-ad-container light-gray global-nav">
<div class="nba-ad-wrap-has-singleton-left">
<div id="ad_bnr_atf_01" class="nba-ad dfp"></div>
<div class="nba-ad freewheel desktop-only"><span id="desktop_nav" class="_fwph" style="font-size:0px;"><form id="_fw_form_desktop_nav" style="display:none;"><input type="hidden" name="_fw_input_desktop_nav" id="_fw_input_desktop_nav" value="slau=728x90_sync&amp;w=728&amp;h=90&amp;envp=g_js&amp;sflg=-nrpl;"></form>
<span id="_fw_container_desktop_nav_companion" class="_fwac"></span><span id="_fw_container_desktop_nav" class="_fwac"></span></span></div>
<div class="nba-ad freewheel mobile-only"><span id="mobile_nav" class="_fwph" style="font-size:0px;"><form id="_fw_form_mobile_nav" style="display:none;"><input type="hidden" name="_fw_input_mobile_nav" id="_fw_input_mobile_nav" value="slau=320x50_spon&amp;w=320&amp;h=50&amp;envp=g_js&amp;sflg=-nrpl;"></form>
<span id="_fw_container_mobile_nav_companion" class="_fwac"></span><span id="_fw_container_mobile_nav" class="_fwac"></span></span></div>
</div>
<div class="global-banner-ad-200-90"><div id="ad_mod_92f78ded2" class="nba-ad"></div></div>
</div></section>
<section id="main" class="row expanded " role="main"><div id="content" role="region" class="nba-collection-detail">
<button class="content__back nba-toggle-sidebar" title="Back To Sidebar">❮ Back</button><div><section id="block-league-content" class="block-league-content"><article id="node-146896" role="article" about="/video/gamerecaps"><div class="view-mode-full">
<script>
  var coreVideoPlayerConfig = {
    videoId: '/video/2018/04/23/0041700174-okc-uta-game-4-recap',
    adSectionDesktop: 'nba.com_site_round1',
    adSectionMobile: 'nba.com_mobile_web_round1',
    relatedTagId: '24401500-85b3-4920-8304-f0822840bbbd',
    relatedTitle: 'Playoffs\x202018\x20West\x20First\x20Round\x3A\x20Thunder\x20\x284\x29\x20vs.\x20Jazz\x20\x285\x29',
    videoTitle: 'GAME\x204\x20RECAP\x3A\x20Jazz\x20113,\x20Thunder\x2096',
    videoDescription: 'Donovan\x20Mitchell\x20puts\x20up\x2033\x20points\x20and\x20grabs\x20seven\x20rebounds\x20as\x20the\x20Jazz\x20defeat\x20the\x20Thunder\x20113\x2D96\x20in\x20a\x20Game\x204\x20victory.',
    trt: 177
  };
      var adfuelCategory = 'playoffs_rd1';
  </script><div class="nba__article-detail--ad-banner-container">
<div class="nba__article-detail--ad-banner-mobile"></div>
<div class="nba__article-detail--ad-banner"></div>
<div class="nba__article-detail--ad-banner-bg-mobile"></div>
<div class="nba__article-detail--ad-banner-bg"></div>
</div>
<video-detail></video-detail>
</div></article></section></div>
<div><section id="block-homepagefooter" class="block-homepagefooter"><hr>
<p>Copyright © <em class="placeholder">2018</em> NBA Media Ventures, LLC. All rights reserved.</p>
<p><a href="http://www.nba.com/news/privacy_policy.html">Privacy Policy</a> | <a href="http://www.nba.com/closed_captioning">Accessibility and Closed Caption</a> | <a href="http://www.nba.com/news/termsofuse">Terms of Use</a> | <a id="nba_cnsnt_trst" class="nbaAdChoices"></a></p>
<p>NBA.com is part of Turner Sports Digital, part of the Turner Sports &amp; Entertainment Digital Network.</p>
<img alt="Turner Broadcasting System, Inc. A Time Warner Company." data-align="center" data-entity-type="file" src="//i.cdn.turner.com/nba/nba/footer/turner_logo_200x35.png"></section></div>
</div>
<aside id="main_sidebar" role="region"><div><section id="block-collectionlistblock" class="block-collectionlistblock"><div class="article__detail--sidebar">
<nav class="sectiontabs"><ul>
<li><p><a href="/video" data-drupal-link-system-path="node/131241">Top Video</a></p></li>
<li>
<p>Categories</p>
<div class="overlay"><div><ul>
<li><a href="/video/all-videos" data-drupal-link-system-path="node/146941">All Videos</a></li>
<li><a href="/video/2018-playoffs" data-drupal-link-system-path="node/204474">2018 Playoffs</a></li>
<li><a href="/video/gamerecaps" title="Game Recaps" data-drupal-link-system-path="node/146896" class="is-active">Game Recaps</a></li>
<li><a href="/video/mustseehighlights" data-drupal-link-system-path="node/146895">Must See Highlights</a></li>
<li>
<a href="/video/features" data-drupal-link-system-path="node/131253">Features</a><ul>
<li><a href="/video/3-point-revolution" data-drupal-link-system-path="node/189176">3-Point Revolution</a></li>
<li><a href="/video/in-his-own-words" data-drupal-link-system-path="node/202917">In His Own Words</a></li>
<li><a href="/video/3-point-performers" data-drupal-link-system-path="node/188331">JBL 3-Point Perfomers</a></li>
<li><a href="/video/201718-kia-performance-awards" data-drupal-link-system-path="node/188333">Kia Performance Awards</a></li>
<li><a href="/gamechangers" data-drupal-link-system-path="node/197815">NBA Game Changers</a></li>
<li><a href="/video/uninterrupted-flashback" data-drupal-link-system-path="node/156831">Uninterrupted</a></li>
<li><a href="/video/what-if" data-drupal-link-system-path="node/198876">What If...</a></li>
<li><a href="/video/season-longprotection" data-drupal-link-system-path="node/206989">Season-Long Protection</a></li>
</ul>
</li>
<li>
<a href="/video/top-plays" data-drupal-link-system-path="node/147052">Top Plays</a><ul>
<li><a href="/video/exxon-blocks" data-drupal-link-system-path="node/172096">Exxon Blocks: All Videos</a></li>
<li><a href="/video/plays-of-the-week" data-drupal-link-system-path="node/131251">Plays of the Week</a></li>
<li><a href="/video/state-farm-assists" data-drupal-link-system-path="node/186113">State Farm Assists: All Videos</a></li>
<li><a href="/video/buzzerbeaters" title="Tissot Buzzer Beaters" data-drupal-link-system-path="node/148181">Tissot Buzzer Beaters</a></li>
<li><a href="/video/top10" data-drupal-link-system-path="node/131242">Top 10 Plays</a></li>
<li><a href="/video/verizon-dunks" data-drupal-link-system-path="node/190181">Verizon Dunks: All Videos</a></li>
<li><a href="/video/handles" data-drupal-link-system-path="node/156074">Kumho Handles of the Month</a></li>
</ul>
</li>
<li><a href="/video/nightly-notable" data-drupal-link-system-path="node/131250">Nightly Notable</a></li>
<li><a href="/video/the-fast-break" data-drupal-link-system-path="node/131243">The Fast Break</a></li>
<li>
<a href="/video/nba-on-tnt" data-drupal-link-system-path="node/147051">NBA on TNT</a><ul>
<li><a href="/video/area21" title="Area 21" data-drupal-link-system-path="node/150263">Area 21</a></li>
<li><a href="/video/ej-neato-stat-of-the-night" data-drupal-link-system-path="node/146933">E.J.'s Neato Stat of the Night</a></li>
<li><a href="/video/inside-the-nba" title="Inside the NBA" data-drupal-link-system-path="node/146789">Inside the NBA</a></li>
<li><a href="/video/players-only" data-drupal-link-system-path="node/167568">Players Only</a></li>
<li><a href="/video/shaqtin-a-fool" title="Shaqtin a Fool" data-drupal-link-system-path="node/146790">Shaqtin' a Fool</a></li>
</ul>
</li>
<li><a href="/video/classicgames?collection=video" data-drupal-link-query='{"collection":"video"}' data-drupal-link-system-path="video/classicgames">Classic Games</a></li>
<li>
<a href="" data-drupal-link-system-path="&lt;front&gt;">Events</a><ul>
<li><a href="/allstar/2018/video" data-drupal-link-system-path="node/192037">2018 All-Star</a></li>
<li><a href="/video/draft2017" data-drupal-link-system-path="node/178799">2017 Draft</a></li>
<li><a href="/video/2017-hall-of-fame" data-drupal-link-system-path="node/181670">2017 Hall of Fame</a></li>
<li><a href="/video/2017-nba-awards" data-drupal-link-system-path="node/174112">2017 NBA Awards</a></li>
<li><a href="/video/playoffs/2017/finals" data-drupal-link-system-path="node/175497">2017 NBA Finals</a></li>
</ul>
</li>
</ul></div></div>
</li>
<li>
<p><a href="/video/nba-tv" data-drupal-link-system-path="node/131264">NBA TV</a></p>
<div class="overlay"><div><ul>
<li><a href="/video/beyond-the-paint" data-drupal-link-system-path="node/131261">Beyond the Paint</a></li>
<li><a href="/video/gametime" data-drupal-link-system-path="node/131255">Game Time</a></li>
<li><a href="/video/high-tops" data-drupal-link-system-path="node/194590">High Tops - Plays of the Month</a></li>
<li><a href="/video/inside-stuff" data-drupal-link-system-path="node/131257">Inside Stuff</a></li>
<li><a href="/video/open-court" data-drupal-link-system-path="node/131258">Open Court</a></li>
<li><a href="/video/the-starters" data-drupal-link-system-path="node/131256">The Starters</a></li>
</ul></div></div>
</li>
</ul>
<div id="sectiontabs-cover" class="reveal-overlay"></div></nav><collection-list></collection-list>
</div></section></div></aside></section>
<section id="block-league-content" class="block-league-content"><article id="node-146896" role="article" about="/video/gamerecaps"><div class="view-mode-full">
<script>
  var coreVideoPlayerConfig = {
    videoId: '/video/2018/04/23/0041700174-okc-uta-game-4-recap',
    adSectionDesktop: 'nba.com_site_round1',
    adSectionMobile: 'nba.com_mobile_web_round1',
    relatedTagId: '24401500-85b3-4920-8304-f0822840bbbd',
    relatedTitle: 'Playoffs\x202018\x20West\x20First\x20Round\x3A\x20Thunder\x20\x284\x29\x20vs.\x20Jazz\x20\x285\x29',
    videoTitle: 'GAME\x204\x20RECAP\x3A\x20Jazz\x20113,\x20Thunder\x2096',
    videoDescription: 'Donovan\x20Mitchell\x20puts\x20up\x2033\x20points\x20and\x20grabs\x20seven\x20rebounds\x20as\x20the\x20Jazz\x20defeat\x20the\x20Thunder\x20113\x2D96\x20in\x20a\x20Game\x204\x20victory.',
    trt: 177
  };
      var adfuelCategory = 'playoffs_rd1';
  </script><div class="nba__article-detail--ad-banner-container">
<div class="nba__article-detail--ad-banner-mobile"></div>
<div class="nba__article-detail--ad-banner"></div>
<div class="nba__article-detail--ad-banner-bg-mobile"></div>
<div class="nba__article-detail--ad-banner-bg"></div>
</div>
<video-detail></video-detail>
</div></article></section>
<section id="block-homepagefooter" class="block-homepagefooter"><hr>
<p>Copyright © <em class="placeholder">2018</em> NBA Media Ventures, LLC. All rights reserved.</p>
<p><a href="http://www.nba.com/news/privacy_policy.html">Privacy Policy</a> | <a href="http://www.nba.com/closed_captioning">Accessibility and Closed Caption</a> | <a href="http://www.nba.com/news/termsofuse">Terms of Use</a> | <a id="nba_cnsnt_trst" class="nbaAdChoices"></a></p>
<p>NBA.com is part of Turner Sports Digital, part of the Turner Sports &amp; Entertainment Digital Network.</p>
<img alt="Turner Broadcasting System, Inc. A Time Warner Company." data-align="center" data-entity-type="file" src="//i.cdn.turner.com/nba/nba/footer/turner_logo_200x35.png"></section>
<section id="block-collectionlistblock" class="block-collectionlistblock"><div class="article__detail--sidebar">
<nav class="sectiontabs"><ul>
<li><p><a href="/video" data-drupal-link-system-path="node/131241">Top Video</a></p></li>
<li>
<p>Categories</p>
<div class="overlay"><div><ul>
<li><a href="/video/all-videos" data-drupal-link-system-path="node/146941">All Videos</a></li>
<li><a href="/video/2018-playoffs" data-drupal-link-system-path="node/204474">2018 Playoffs</a></li>
<li><a href="/video/gamerecaps" title="Game Recaps" data-drupal-link-system-path="node/146896" class="is-active">Game Recaps</a></li>
<li><a href="/video/mustseehighlights" data-drupal-link-system-path="node/146895">Must See Highlights</a></li>
<li>
<a href="/video/features" data-drupal-link-system-path="node/131253">Features</a><ul>
<li><a href="/video/3-point-revolution" data-drupal-link-system-path="node/189176">3-Point Revolution</a></li>
<li><a href="/video/in-his-own-words" data-drupal-link-system-path="node/202917">In His Own Words</a></li>
<li><a href="/video/3-point-performers" data-drupal-link-system-path="node/188331">JBL 3-Point Perfomers</a></li>
<li><a href="/video/201718-kia-performance-awards" data-drupal-link-system-path="node/188333">Kia Performance Awards</a></li>
<li><a href="/gamechangers" data-drupal-link-system-path="node/197815">NBA Game Changers</a></li>
<li><a href="/video/uninterrupted-flashback" data-drupal-link-system-path="node/156831">Uninterrupted</a></li>
<li><a href="/video/what-if" data-drupal-link-system-path="node/198876">What If...</a></li>
<li><a href="/video/season-longprotection" data-drupal-link-system-path="node/206989">Season-Long Protection</a></li>
</ul>
</li>
<li>
<a href="/video/top-plays" data-drupal-link-system-path="node/147052">Top Plays</a><ul>
<li><a href="/video/exxon-blocks" data-drupal-link-system-path="node/172096">Exxon Blocks: All Videos</a></li>
<li><a href="/video/plays-of-the-week" data-drupal-link-system-path="node/131251">Plays of the Week</a></li>
<li><a href="/video/state-farm-assists" data-drupal-link-system-path="node/186113">State Farm Assists: All Videos</a></li>
<li><a href="/video/buzzerbeaters" title="Tissot Buzzer Beaters" data-drupal-link-system-path="node/148181">Tissot Buzzer Beaters</a></li>
<li><a href="/video/top10" data-drupal-link-system-path="node/131242">Top 10 Plays</a></li>
<li><a href="/video/verizon-dunks" data-drupal-link-system-path="node/190181">Verizon Dunks: All Videos</a></li>
<li><a href="/video/handles" data-drupal-link-system-path="node/156074">Kumho Handles of the Month</a></li>
</ul>
</li>
<li><a href="/video/nightly-notable" data-drupal-link-system-path="node/131250">Nightly Notable</a></li>
<li><a href="/video/the-fast-break" data-drupal-link-system-path="node/131243">The Fast Break</a></li>
<li>
<a href="/video/nba-on-tnt" data-drupal-link-system-path="node/147051">NBA on TNT</a><ul>
<li><a href="/video/area21" title="Area 21" data-drupal-link-system-path="node/150263">Area 21</a></li>
<li><a href="/video/ej-neato-stat-of-the-night" data-drupal-link-system-path="node/146933">E.J.'s Neato Stat of the Night</a></li>
<li><a href="/video/inside-the-nba" title="Inside the NBA" data-drupal-link-system-path="node/146789">Inside the NBA</a></li>
<li><a href="/video/players-only" data-drupal-link-system-path="node/167568">Players Only</a></li>
<li><a href="/video/shaqtin-a-fool" title="Shaqtin a Fool" data-drupal-link-system-path="node/146790">Shaqtin' a Fool</a></li>
</ul>
</li>
<li><a href="/video/classicgames?collection=video" data-drupal-link-query='{"collection":"video"}' data-drupal-link-system-path="video/classicgames">Classic Games</a></li>
<li>
<a href="" data-drupal-link-system-path="&lt;front&gt;">Events</a><ul>
<li><a href="/allstar/2018/video" data-drupal-link-system-path="node/192037">2018 All-Star</a></li>
<li><a href="/video/draft2017" data-drupal-link-system-path="node/178799">2017 Draft</a></li>
<li><a href="/video/2017-hall-of-fame" data-drupal-link-system-path="node/181670">2017 Hall of Fame</a></li>
<li><a href="/video/2017-nba-awards" data-drupal-link-system-path="node/174112">2017 NBA Awards</a></li>
<li><a href="/video/playoffs/2017/finals" data-drupal-link-system-path="node/175497">2017 NBA Finals</a></li>
</ul>
</li>
</ul></div></div>
</li>
<li>
<p><a href="/video/nba-tv" data-drupal-link-system-path="node/131264">NBA TV</a></p>
<div class="overlay"><div><ul>
<li><a href="/video/beyond-the-paint" data-drupal-link-system-path="node/131261">Beyond the Paint</a></li>
<li><a href="/video/gametime" data-drupal-link-system-path="node/131255">Game Time</a></li>
<li><a href="/video/high-tops" data-drupal-link-system-path="node/194590">High Tops - Plays of the Month</a></li>
<li><a href="/video/inside-stuff" data-drupal-link-system-path="node/131257">Inside Stuff</a></li>
<li><a href="/video/open-court" data-drupal-link-system-path="node/131258">Open Court</a></li>
<li><a href="/video/the-starters" data-drupal-link-system-path="node/131256">The Starters</a></li>
</ul></div></div>
</li>
</ul>
<div id="sectiontabs-cover" class="reveal-overlay"></div></nav><collection-list></collection-list>
</div></section>
 => 0