<!DOCTYPE html>
<html>
<head>
  <title>MyHighlight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Glegoo|Shrikhand" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  
<!--navbar-->
<!--main content -->
<div id = "base" class="container">

  <!-- Content here -->
<%= yield %>
</div>
</body>
</html>
